allantools==2019.9
debugpy==1.8.0
dill==0.3.8
h5py==3.10.0
ipython==8.12.3
ipywidgets==8.1.2
lvm_read==1.21
matplotlib==3.8.3
natsort==8.4.0
numpy==1.21.5
pandas==2.2.1
PyMeasure==0.13.1
pyserial==3.5
PyVISA==1.14.1
scipy==1.12.0
sympy==1.12
tol_colors==1.2.1
tqdm==4.66.2
uncertainties==3.1.7
wxPython==4.2.0
